*{
	padding:0;
	margin:0;
	border:0;
	box-sizing:border-box;
}
/* <!-- ****************************Header Start**************************************--> */
/* <!-- *************************************************************************** --> */
.container{
	width:940px;
	margin:0 auto;
}
.header{
	position:relative;
}
.header img{
	width:100%;
}
.nav-logo h2{
	color:#fed136;
	font-size:26px;
	padding-top:45px;
}
.nav-logo{
	float:left;
}
.nav-links{
padding-top:54px;
float:right;

}
.nav-links li{
      float:left;
	list-style-type:none;
	padding:0 20px;

}
.nav-links a{
	text-decoration:none;
		color:#d6d6d6;
}
.clear{
	clear:both;
}
.nav{
	position:absolute;
  left: calc(50% - 470px);
  	top:44px;
}
.header-content h3{
	font-size:40px;
	color:#ffffff;
}
.header-content h2{
	font-size:75px;
		color:#ffffff;
		padding-bottom:51px;
		padding-top:40px;
}
.header-content a{
	font-size:18px;
	color:#ffffff;
	background-color:#fed136;
	padding:25px 61px;
	
}
.header-content{
	position:absolute;
	 left: calc(50% - 448px);  
 top:273px; 
	text-align:center;
}
/* <!-- ****************************Header End**************************************--> */
/* <!-- *************************************************************************** --> */
/* <!-- ************************** Services sec start***********************************--> */
.services-heading h5{
	font-size:40px;
	color:#222222;
	text-align:center;
	padding-top:121px;
	padding-bottom:24px;
}
.services-heading p{
	font-size:16px;
	color:#777777;
	text-align:center;
	padding-bottom:75px;
}
.section{
	float:left;
	width:33.33%;
	text-align:center;
}
.section h4{
	padding-top:27px;
	padding-bottom:19px;
	font-size:18px;
	color:#222222;
}
.section p{
	font-size:14px;
	color:#777777;
	padding:0 32px;
}
.services{
	padding-bottom:118px;
}
/* <!-- ************************** Services sec end***********************************--> */
/* <!-- ************************** Portfolio sec start***********************************--> */
.portfolio-heading {
	text-align:center;
	padding:121px 0 77px 0;
}
.portfolio-heading h2{
	font-size:40px;
	color:#222222;
}
.portfolio-heading p{
	font-size:16px;
	color:#8c8c8c;
}
.portfolio{
	background-color:#f7f7f7;
	height:1222px;
}
.img-sec{
	float:left;
	padding:25px 11px;
}
.title{
	width:33.33%;
}
.img-info{
	background-color:#ffffff;
	text-align:center;
	padding:29px;
}
/* <!-- ************************** Portfolio sec end***********************************--> */
/* <!-- ************************** About sec start************************************--> */
.about-heading{
	text-align:center;
	padding-top:122px;
	padding-bottom:76px;
}
.about-heading h2{
	font-size:40px;
	color:#222222;
}
.about-heading p{
	font-size:16px;
	color:#8c8c8c;
}
.about-info{
	float:left;
	width:283px;
}
.about-info h3{
	padding-top:11px;
		font-size:18px;
	color:#222222;
}
.about-info p{
	padding-top:17px;
	font-size:14px;
	color:#a2a2a2;
	line-height:1.3;
}
.about-img{
	float:left;
	margin:0 18px;
}
.about-img-pic{
	text-align:right;
	padding-bottom:89px;
	padding-left: 40px;
}
.about-info1 p{
	padding-top:17px;
	font-size:14px;
	color:#a2a2a2;
	line-height:1.3;
}
.about-info1 h3{
	padding-top:11px;
	font-size:18px;
	color:#222222;
}
.about-img-pic1{
	text-align:left ;
	padding-bottom:89px;
}
.about-img1{
	float:left;
	padding-left: 342px;
}
.about-img2{
	padding-left: 355px;
	padding-bottom:118px;
}
.about-info1{
	margin-right:85px;
	float:right;
	width:245px;
}
/* <!-- ************************** About sec end************************************--> */
/* <!-- ************************** Team sec start************************************--> */
.team1{
	padding-left:50px;
}
.team-membr{
	background-color:#f9f9f9;
}
.team-info {
	text-align:center;
	padding-top:122px;
	padding-bottom:76px;
}
.team-info h3{
	font-size:40px;
	color:#222222;
	padding-bottom:10px;
}
.team-info p{
	font-size:14px;
	color:#a2a2a2;
}
.team-img-info{
	float:left;
	padding:0 28px;
}
.hello1 img{
	width:216px;
	height:216px;
	border-radius: 50%;
}
.team-a p{
	font-size:14px;
	color:#777777
}
.team-a h6{
	padding-top:23px;
	padding-right:8px;
	font-size:16px;
	color:#222222;
}
.team-a{
	text-align:center;
}
.logo{
	text-align:center;
	padding-top:9px;
	padding-bottom:46px;
}
.team-info2{
	font-size:16px;
	color:#bbbbbb;
	text-align:center;
	padding-bottom:115px;
	padding-left:160px;
	padding-right:160px;
}
/* <!-- ************************** Team sec end************************************--> */
/* <!-- ************************** mid sec start************************************--> */
.block-img{
	float:left;
	padding-left:60px;
}
.block-img img{
	padding:60px 21px;
			}
/* <!-- ************************** mid sec end************************************--> */
/* <!-- ************************** Map sec end************************************--> */
.map-gal img{
	width:100%;
}
.map-heading h2{
	font-size:40px;
	color:#222222;
}
.map-heading p{
	font-size:16px;
	color:#777777;
}
.map-gallary{
	position:relative;
}
.map-content h3{
	font-size:40px;
	color:#ffffff;
}
.map-content p{
	font-size:16px;
	color:#656565;
	padding-bottom:68px;
}
.map-content{
	position:absolute;
	left: calc(50% - 470px);  
	top: calc(50% - 130px); 
	text-align:center;
}
.col{
	float:left;
	padding-bottom:24px;
}
.col2{
	padding-left:40px;
	float:right;
}
.row{
	padding-left:10px;
}
.form-gr2{
	padding-top:24px;
	padding-bottom:24px;
}
input::placeholder {
	color:#bbbbbb;
	padding-left:19px;
	font-size:14px;
	}
textarea::placeholder {
	color:#bbbbbb;
	padding-left:19px;
	font-size:14px;
	padding-top:19px;
	}
input{
	border-radius:5px;
	width: 454px;
	height:50px;
}
textarea {
	border-radius:5px;
	width: 454px;
	height: 198px
}
.button{
    margin-top:30px;
	font-weight:bold;
	border-radius:5px;
	width:240px;
	height:62px;
	background-color:#fed136;
	color:#ffffff;
}
/* <!-- ************************** Map sec end************************************--> */
/* <!-- *********************** Footer sec start************************************--> */
.footer{
	padding-top:19px;
	padding-right:9px;
}
.footer-text p{
	padding-right:120px;
	float:left;
	text-size:14px;
	color:#656565;
}
.footer-img img{
	padding:0 5px;
}

/* <!-- ************************** Footer sec end************************************--> */
/**********************************Media queries start*******************************/

@media (max-width:1125px){
	.container{
		width: 962px;
		}
	.header-content h3 {
		font-size: 30px;
		}
	.header-content h2 {
		font-size: 55px;
		padding:40px 0;
		}
	.header-content a {
		padding: 15px 35px;
		}
	.header-content {
		top: calc(50% - 80px);
		left: calc(50% - 329px);
		}
	input {
		width: 415px;
	}
	.button {
		margin-top: 5px;
	}
	}
@media (max-width:992px){
	.container{
		width: 738px;
	}
	.nav-logo h2 {
		padding-left: 140px;
	}
	.nav-links li {
		padding: 0 10px;
	}
	.header-content h2 {
		font-size: 35px;
		padding: 30px 0;
	}
	.header-content h3 {
		font-size: 25px;
	}
	.header-content a {
		padding: 10px 25px;
	}
	.header-content {
		top: calc(50% - 155px);
		left: calc(50% - 209px);
	}
	.img-sec img{
			width: 240px;
	}
	.img-sec {
		padding: 0px 0px;
	}
	.services-heading h5 {
		padding-top: 45px;
	}
	.services {
		padding-bottom: 70px;
	}
	.portfolio-heading {
		padding: 70px 0 70px 0;
	}
	.portfolio {
		height: 1011px;
	}
	.about-img1 {
		padding-left: 140px;
	}
	.about-img2 {
		padding-left: 270px;
		padding-bottom: 80px;
	}
	.hello1 img {
		width: 170px;
		height: 170px;
	}
	.block-img img {
		padding: 40px 8px;
	}
	.block-img {
		padding-left: 11px;
	}
	.map-content {
		left: calc(50% - 376px);
		top: calc(50% - 100px);
	}
	input {
		width: 315px;
			height: 40px;
	}
	textarea {
		width: 315px;
		height: 167px;
	}
	.map-content p {
		padding-bottom: 25px;
	}
	.map-gal img {
		height: 498px;
	}
	.col {
		padding-left: 10px;
	}
	.footer-text p {
		padding-right: 228px;
	}
	}
@media (max-width:768px){
	.container{
		width:570px;
	}
	.nav-logo h2 {
			padding-top: 0px;
	}
	.nav-links {
		padding-top: 0px;
		padding-right: 262px;
	}
	.nav-links a {
		font-size: 12px;
	}
	.header-content {
		top: calc(50% - 220px);
	}
	.nav{
		 padding-left: 285px;
	}
	.services-heading h5 {
	font-size: 25px;
	padding-top: 25px;
	}
	.hello1 img {
		width: 140px;
		height: 140px;
	}
	.services-heading p {
		padding-bottom: 35px;
	}
	.services {
		padding-bottom: 45px;
	}
	.section p {
		padding: 0 9px;
	}
	.portfolio-heading h2 {
		font-size: 25px;
		padding-bottom: 15px;
	}
	.img-sec img {
		width: 187px;
	}
	.portfolio {
		height: 870px;
	}
	.about-heading {
		padding:65px 0;
	}
	.about-info {
		width: 235px;
	}
	.about-img1 {
		padding-left: 0px;
	}
	.about-info1 {
		width: 217px;
	}
	.about-img2 {
	padding-left: 178px;
	}
	.team-info {
		padding-top: 75px;
	}
	.team-img-info {
		float: left;
		padding: 0 10px;
	}
	.team-info2 {
		padding-bottom: 46px;
		padding-left: 60px;
		padding-right: 60px;
	}
	.block-img img{
			width: 115px;
	}
	.block-img {
		padding-left: 43px;
	}
	.col {
		padding-left: 100px;
	}
	input {
		width: 235px;
	}
	textarea {
		width: 250px;
	}
	.button {
		width: 160px;
		margin-left: 103px;
		height: 40px;
	}
	.footer-img img {
		height: 25px;
	}
	.footer-text p {
		padding-right: 155px;
	}
	.footer {
		padding-top: 0px;
	}
	.map-content h3 {
		font-size: 25px;
			padding-left: 87px;
	}
	.map-content p {
		padding-bottom: 25px;
		padding-left: 87px;
	}
}
@media (max-width:600px){
	.container{
		width:438px;
	}
	.header-content h2 {
		font-size: 25px;
		 padding: 14px 0;
	}
	.header-content h3 {
		font-size: 20px;
	}
	.header-content a {
		padding: 8px 15px;
			font-size: 11px;
	}
	.header-content {
		top: calc(50% - 247px);
		left: calc(50% - 125px);
	}
	.nav-logo h2 {
		padding-left: 165px;
	}
	.nav-links {
		  padding-right: 105px;
			  padding-right: 0px;
	}
	.img info h4{
			font-size: 14px;
	}
	.img-sec img {
		width: 120px;
	}
	.img-info {
		padding: 0px;
	}
	.img-sec {
		padding: 10px 10px;
	}
	.portfolio {
		height: 625px;
	}
	.about-heading {
		padding: 38px 0;
	}
	.about-heading h2 {
		font-size: 25px;
	}
	.about-img img{
		width: 220px;
			margin-top: 20px;
	}
	.about-info p {
		font-size: 12px;
	}
	.about-info h3 {
		font-size: 13px;
	}
	.about-info {
		width: 142px;
	}
	.about-img1 img{
		width: 211px;
			margin-top: 20px;
	}
	.about-info1 p {
		font-size: 12px;
	}
	.about-info1 h3 {
		font-size: 13px;
	}
	.about-info1 {
		width: 142px;
	}
	.about-img2 {
		padding-left: 119px;
			padding-bottom: 40px;
	}
	.team-info h3 {
		font-size: 25px;
	}
	.hello1 img {
		width: 100px;
		height: 100px;
	}
	.team-a p {
		font-size: 10px;
	}
	.team-a h6 {
		padding-top: 8px;
		padding-right: 0px;
		font-size: 10px;
	}
	.team-img-info {
		padding: 0 10px;
	}
	.logo img{
		height:30px;
	}
	.team-info {
		padding-top: 50px;
			padding-bottom: 50px;
	}
	.team-info2 {
		padding-bottom: 35px;
		padding-left: 0px;
		padding-right: 0px;
	}
	.block-img img {
		padding: 10px 5px;
	}
	.block-img img {
		width: 93px;
	}
	.col {
		padding-left: 154px;
	}
	input {
		width: 200px;
	}
	.col2 {
		padding-left: 18px;
	}
	textarea {
		width: 200px;
	}
	.map-content p {
		padding-left: 167px;
	}
	.map-content h3 {
		padding-left: 167px;
	}
	.button {
		margin-left: 159px;
	}
	.map-gal img {
		height: 400px;
	}
	.footer-text p {
		padding-right: 17px;
	}
}
@media (max-width:468px){
	.container{
		width:290px;
	}
	.header-content h2 {
		font-size: 15px;
		padding: 0px 0;
	}
	.header-content h3 {
		font-size: 13px;
	}
	.header-content {
		top: calc(50% - 233px);
		left: calc(50% - 69px);
	}
	.header-content a {
		padding: 5px 11px;
		font-size: 9px;
	}
	.nav-logo h2 {
		padding-left: 170px;
		font-size: 20px;
	}
	.portfolio-heading p {
		font-size: 12px;
	}
	.portfolio-heading h2 {
		font-size: 15px;
		padding-bottom: 10px;
	}
	.services-heading h5 {
		font-size: 15px;
		padding-bottom: 10px;
	}
	.services-heading p {
		padding-bottom: 15px;
			font-size: 12px;
	}
	.section p {
		padding: 0 2px;
	}
	.portfolio-heading {
		padding: 20px 0 25px 0;
	}
	.img-sec{
		margin-left: 40px;
	}
	.img-sec img {
		width: 187px;
	}
	.about-heading p {
		font-size: 12px;
	}
	.about-heading h2 {
		font-size: 15px;
	}
	.about-img {
		float: left;
		margin: 42px 18px;
	}
	.about-img img {
		width: 125px;
		margin-top: 20px;
	}
	.about-info {
		width: 129px;
	}
	.about-info h3 {
		font-size: 10px;
	}
	.about-info h3 {
		font-size: 10px;
	}
	.about-img-pic {
		padding-bottom: 24px;
		padding-left: 0px;
	}
	.about-img1 {
		float: left;
		margin: 42px 18px;
	}
	.about-img1 img {
		width: 125px;
		margin-top: 20px;
	}
	.about-info1 {
		width: 155px;
		margin-right: 8px;
	}
	.about-info1 h3 {
		font-size: 10px;
	}
	.about-info1 h3 {
		font-size: 10px;
	}
	.about-img-pic1 {
		padding-bottom: 24px;
		padding-left: 0px;
	}
	.about-img1 {
		float: left;
		margin: 0px 0px;
	}
	.about-img2 {
		padding-left: 50px;
	}
	.team-img-info {
		padding: 0px 35px;
	}
	.logo {
		padding-bottom: 0px;
	}
	.team-info {
		padding-top: 40px;
		padding-bottom: 20px;
	}
	.team-info h3 {
		font-size: 15px;
	}
	.team-info p {
		font-size: 12px;
	}
	.col {
		padding-left: 236px;
		 float: none;
	}
	.nav-links {
	    padding-left: 30px;
		float:none;
	}
	.row {
		padding-left: 31px;
	}
	textarea {
		height: 75px;
	}
	.button {
		margin-left: 258px;
	}
	.map-content {
		top: calc(50% - 148px);
	}
	.map-content p {
		padding-left: 261px;
		font-size: 13px;
	}
	.map-content h3 {
		padding-left: 257px;
	}
	.footer-text p {
		padding-bottom: 6px;
	}
}

/**********************************Media queries end*********************************/
